<form (ngSubmit)="calculate()">
  <div class="input-group">
    <div>
      <label for="initial-investment"
        >Initial Investment:
        <input
          type="number"
          id="initial-investment"
          name="initial-investment"
          [(ngModel)]="initialInvestment"
        />
      </label>

      <label for="expected-return"
        >Expected Return:
        <input
          type="number"
          id="expected-return"
          name="expected-return"
          [(ngModel)]="expectedReturn"
        />
      </label>
    </div>
    <div>
      <label for="annual-investment"
        >Annual Investment:
        <input
          type="number"
          id="annual-investment"
          name="annual-investment"
          [(ngModel)]="annualInvestment"
        />
      </label>
      <label for="duration"
        >Duration:
        <input
          type="number"
          id="duration"
          name="duration"
          [(ngModel)]="duration"
        />
      </label>
    </div>
  </div>
  <button type="submit">Calculate</button>
</form>
